[Unit]
Description=Mount USB drive (/dev/%i)

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/sbin/mount-media-device add %i
ExecStop=/usr/sbin/mount-media-device remove %i